<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.cycle2.js"></script>
    <!--https://www.w3schools.com/css/css_image_gallery.asp-->
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta id="path_to_latestimages" data-paths="{{ latestimages }}">
    <meta id="path_to_datetimeimages" data-paths="{{ datetimeimages }}">
    <title>Gallery</title>

</head>
<body>
    <div class="container">
        <div class="topnav" id="myTopnav">
          <a href="http://michaelkanefyp.dynu.net:5000">Home</a>
          <a href="http://michaelkanefyp.dynu.net:5000/login/">Login</a>
          <a href="http://michaelkanefyp.dynu.net:5000/register/">Register</a>
          <a href="http://michaelkanefyp.dynu.net:5000/upload/">Upload</a>
            <a class="active" href="http://michaelkanefyp.dynu.net:5000/gallery/">Gallery</a>
            <a href="http://michaelkanefyp.dynu.net:5000/logout/">Logout</a>
        </div>
        <!--http://jquery.malsup.com/cycle2/demo/non-image.php-->
        <div class="content">
            <div class="row">
                <div class="slideshows">
                    <p><b>Currently displaying the last hours images.</b></p>
                    <div class="cycle-slideshow"
                        data-cycle-fx="scrollHorz"
                        data-cycle-timeout="0"
                        data-cycle-prev="#prev"
                        data-cycle-next="#next"
                        >
                    </div>

                    <div class="latestTextSlideshow"
                        data-cycle-fx="scrollHorz"
                        data-cycle-timeout="0"
                         data-cycle-prev="#prev"
                        data-cycle-next="#next"
                         data-cycle-slides="> p"
                        >
                    </div>

                </div>
                <div class="slideshows">
                    <p><b>Select A date and time: </b></p>
                    <form action="" method=post enctype=multipart/form-data>
                        <input id="datepicker" type=datetime-local name="datepicker" value="2018-04-04T15:15">
                        <input id="submittime" type=submit value=Submit>
                    </form>

                    <div class="slideshow"
                        data-cycle-fx="scrollHorz"
                        data-cycle-timeout="0"
                         data-cycle-prev="#prev2"
                        data-cycle-next="#next2"
                        >
                    </div>
                    <div class="textSlideshow"
                        data-cycle-fx="scrollHorz"
                        data-cycle-timeout="0"
                         data-cycle-prev="#prev2"
                        data-cycle-next="#next2"
                         data-cycle-slides="> p"
                        >
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="selection">
                    <div class="center">
                        <a href=# id="prev">Prev</a>
                        <a href=# id="next">Next</a>
                    </div>
                </div>
                <div class="selection">
                    <div class="center">
                        <a href=# id="prev2">Prev</a>
                        <a href=# id="next2">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static',filename='gallery.js') }}"></script>

</html>
