<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="topnav" id="myTopnav">
          <a class="active" href="http://michaelkanefyp.dynu.net:5000">Home</a>
          <a href="http://michaelkanefyp.dynu.net:5000/login/">Login</a>
          <a href="http://michaelkanefyp.dynu.net:5000/register/">Register</a>
          <a href="http://michaelkanefyp.dynu.net:5000/upload/">Upload</a>
            <a href="http://michaelkanefyp.dynu.net:5000/gallery/">Gallery</a>
            <a href="http://michaelkanefyp.dynu.net:5000/logout/">Logout</a>
        </div>
        <div class="content">
            <p>Hello World</p>
        </div>
    </div>
</body>
</html>