<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
    <div class="container">
        <div class="topnav" id="myTopnav">
          <a href="http://michaelkanefyp.dynu.net:5000">Home</a>
          <a href="http://michaelkanefyp.dynu.net:5000/login/">Login</a>
          <a href="http://michaelkanefyp.dynu.net:5000/register/">Register</a>
          <a href="http://michaelkanefyp.dynu.net:5000/upload/">Upload</a>
            <a href="http://michaelkanefyp.dynu.net:5000/gallery/">Gallery</a>
            <a class="active" href="http://michaelkanefyp.dynu.net:5000/logout/">Logout</a>
        </div>
        <div class="content">
            <h3>Click Below to Logout.</h3>
            <input type="button" onclick="location.href='http://michaelkanefyp.dynu.net:5000';" value="Logout" />
        </div>
    </div>
</body>
</html>