<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Upload</title>
</head>
<body>
    <div class="container">
        <div class="topnav" id="myTopnav">
          <a  href="http://michaelkanefyp.dynu.net:5000">Home</a>
          <a href="http://michaelkanefyp.dynu.net:5000/login/">Login</a>
          <a href="http://michaelkanefyp.dynu.net:5000/register/">Register</a>
          <a class="active" href="http://michaelkanefyp.dynu.net:5000/upload/">Upload</a>
            <a href="http://michaelkanefyp.dynu.net:5000/gallery/">Gallery</a>
            <a href="http://michaelkanefyp.dynu.net:5000/logout/">Logout</a>
        </div>
        <div class="content">
            <h1>This Area is reserved for remote access only.</h1>
            <form action="" style="visibility: hidden;" method=post enctype=multipart/form-data>
                <input type="number" name="number_of_people" value="0">
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
    </div>
</body>
</html>